:root {
    --color-glass: #80808055;
    --blur-amount: 5px;
    --font-color: #ffffffdd;
}

* {
    box-sizing: border-box;
}

body {
    background: #87ceeb;
    margin: 0px;
    
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.background-element {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('https://wallpaperaccess.com/full/1358805.jpg');
    background-size: cover;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    background-color: var(--color-glass);
    backdrop-filter: blur(var(--blur-amount));
    width: clamp(60%, 400px, 90%);
}

.select-location-wrapper {
    padding: 1rem;
    border-radius: .3rem;

    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: 7rem 7rem 1fr;
    gap: .7rem;
}

.glass-input-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
}

.glass-input-wrapper > input {
    width: 100%;
    
    outline: none;
    border: none;
    border-bottom: 1px solid var(--font-color);
    background: none;
    color: var(--font-color);
    font-size: 1rem;
    padding: 0 0.5rem;
}
.glass-input-wrapper > label {
    display: block;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    padding: 0 0.5rem;
}
.suggestion-input-wrapper {
}
